@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
        h1{
            font-family: 'Covered By Your Grace', cursive; 
            color: red;
        }
        h2 {
            font-family: 'Righteous', cursive;
            color: green;
        }
        p {
            font-family: 'Rock Salt', cursive;
            color: blue;
        }